[data-tiddler-title="index"] .tc-title { display:none }

li {
    margin-top: 7px;
}

.compactlists {
    li {margin-top: 0px;}
}

.twocolumns {
display:block;
column-count:2;
-moz-column-count:2;
-webkit-column-count:2;}

.threecolumns {
display:block;
column-count:3;
-moz-column-count:3;
-webkit-column-count:3;}

.gallery-5 {
  --n: 1; /* number of rows*/
  --m: 5; /* number of columns */
  --g: 0px;  /* control the gap */
  --f: 0.35;   /* control the scale factor */
  width: 100%;
  height: 50vh;
  display: grid;
  gap: var(--g);
  grid-template-columns: repeat(var(--m),auto);
}

.gallery-5 > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(10%);
	transition: .7s ease-in-out;
	transition-delay: .2s;
}

.gallery-5 img:hover{
  filter: grayscale(0);
  width:  calc(70vh*var(--f)/var(--n));
  height: calc(100vw*var(--f)/var(--m));
	display: block;
}

.grids {
  --n: 4; /* number of rows*/
  --m: 3; /* number of columns */
  --g: 1.5px;  /* control the gap */
  --f: 0.45;   /* control the scale factor */
  
  display: grid;
  gap: var(--g);
  width: 100%;
  height: 65vh;
  grid-template-columns: repeat(var(--m),auto);
}

.grids > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(10%);
	transition: .95s ease-in-out;
	transition-delay: .3s;
}

.grids img:hover{
  filter: grayscale(0);
  width:  calc(350vh*var(--f)/var(--n));
  height: calc(150vw*var(--f)/var(--m));
}
